
	.Cores{
	#ff4169,#7c26f8, rgba(0,0,0,0.6);
	color: white;
	color: #9bf0e1;
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
	background: white;
	color: white;
	background: #7c25f8;
	background: #6207e3;
	color: white;
	border: 2px solid white;
	background-color: white;
	color: black;
	background: white;
	color: white;
	color: #7c25f8;
	color: white;
	color: #9bf0e1;
	background: #000;
	color: #919496;
	color: white;
	color: #9bf0e1;
	color: white;
	}